@model List<ProjectSupplyManagement.Models.Domain.Employee>
@{
}

<h1>List Employees</h1>

<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Email</th>
			<th>Salary</th>
			<th>Date Of Birth</th>
			<th>Department</th>
			<th>Actions</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var employee in Model)
		{
			var modalId = "exampleModal" + employee.Id;
			<tr>
				<td>@employee.Id</td>
				<td>@employee.Name</td>
				<td>@employee.Email</td>
				<td>@employee.Salary</td>
				<td>@employee.DateOfBirth.ToString("dd-MM-yyyy")</td>
				<td>@employee.Department</td>
				<td><a class="btn btn-info text-white" href="Employees/Update/@employee.Id">View</a></td>
				<td>
					<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#@modalId">
						Delete
					</button>
					<form method="post" action="@Url.Action("Delete", "Employees")">
						<div class="modal fade" id="@modalId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Delete Employee</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										Are you sure you want to delete @employee.Name?
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
										<input type="hidden" name="Id" value="@employee.Id" />
										<button type="submit" class="btn btn-danger">Delete</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>
